@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sans";
  src: url("sans.ttf");
}

@font-face {
  font-family: "adelia";
  src: url("ADELIA2.otf");
}

@layer components{
  .animated-text-gradient {
    @apply bg-gradient-to-r bg-clip-text  text-transparent from-indigo-500 via-purple-500 to-red-500 animate-text;
  }
}