@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sans";
  src: url("sans.ttf");
}

@font-face {
  font-family: "adelia";
  src: url("ADELIA2.otf");
}